<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-bixolon-printer"
      version="0.0.1">
    <name>BIXOLON</name>
    <description>Cordova BIXOLON Printer Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, BIXOLON, plugin</keywords>
    
    <info>
		Cordova BIXOLON Printer plugin v0.0.1
	</info>
	
    <js-module src="www/BIXOLON.js" name="BIXOLON">
	    <clobbers target="BIXOLON" />
    </js-module>

    <engines>
	    <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- ANDROID CONFIGURATION -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:name="android.hardware.usb.host"/>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BIXOLON" >
                <param name="android-package" value="kr.co.itsm.plugin.BIXOLON"/>
                <param name="onload" value="true" />
            </feature>
		</config-file>

        <framework src="src/android/BIXOLON.gradle" custom="true" type="gradleReference" />
        <resource-file src="libs/BixolonPrinter.jar" target="libs/BixolonPrinter.jar" /> 
        <source-file src="src/android/BIXOLON.java" target-dir="src/kr/co/itsm/plugin" />
    </platform>
</plugin>